.cont-cart-lelang {
  width: 25rem;
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
}
.cont-cart-lelang img {
  width: 100%;
}
.cont-des-lelang {
  padding-inline: 1rem;
  padding-block: 1.5rem;
}
.cont-cart-lelang .time_price_cart_lelang {
  display: flex;
  justify-content: space-between;
}
.cont-cart-lelang .time_price_cart_lelang p {
  margin-block: 0rem;
}
.cont_price-cart {
  text-align: end;
}
.cont-cart-lelang .time_price_cart_lelang .price_new {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.7rem;
}
.cont-des-lelang h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.des-cart-lelang {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.des-cart-lelang p {
  font-size: 1rem;
  margin-bottom: 0rem;
}

.des-cart-lelang a {
  border: none;
  background: red;
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
}

.des-cart-lelang button:hover {
  background-color: brown;
}
@media (min-width: 1301px) and (max-width: 1400px) {
}
@media (min-width: 1201px) and (max-width: 1300px) {
}
@media (min-width: 992px) and (max-width: 1200px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 480px) and (max-width: 767px) {
}
@media (min-width: 360px) and (max-width: 479px) {
  .cont-cart-lelang {
    width: 20rem;
  }
}
